/*Logo*/
.logo {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $primary-color;
    margin-right: 93px;
}

.logo-part {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;
}